////
/// Styling for general HTML form elements
/// @group elements
/// @author Kristian Cox
////

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=search],
input[type=number] {
    width:         100%;
    box-sizing:    border-box;
    font-size:     $font-size-base;
    line-height:   2rem;
    padding:       0 1rem;
    border-radius: $global-border-radius;
    background:    $form-transparency;
    box-shadow:    $global-box-shadow;
    border:        none;
}

textarea {
    width:         100%;
    box-sizing:    border-box;
    font-size:     $font-size-base;
    line-height:   2.5rem;
    padding:       0 1rem;
    border-radius: 3px;
    border:        none;
    background:    $form-transparency;
    box-shadow:    $global-box-shadow;
    resize:        none;
}

select {
    $font-size:    strip-unit($font-size-base);
    $line-height:  strip-unit($line-height-base);
    $padding:      $line-height * $font-size;
    $padding:      (($padding - $font-size) / 2) + px;

    width:         100%;
    box-sizing:    border-box;
    font-size:     $font-size-base;
    padding:       $padding 1rem;
    border-radius: $global-border-radius;
    background:    $form-transparency;
    box-shadow:    $global-box-shadow;
    border:        none;
}

label {
    font-size:       1rem;
    line-height:     $line-height-base;
}
