{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "class-property"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 0,
        "no-inner-declarations": 0,
        "class-property/class-property-semicolon": 0
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    }
}
