<div class="flash flash--{{ flash.type }}">
    <div class="flash__message">
        {{ flash.message }}
    </div>
    <div class="flash__close">
        <a href="/">
            <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_cross"></use>
            </svg>
        </a>
    </div>
</div>
