<nav class="nav">
    <div class="nav__logo">
        {# TODO: Add logo here #}
    </div>
    <div class="nav__info">
        {# TODO: Add user details here #}
    </div>
    <ul>
        <li class="nav__item">
            <a href="#">Dashboard</a>
        </li>
    </ul>
</nav>
