<nav class="nav">
    <div class="nav__logo">
        {# TODO: Add logo here #}
    </div>
    <div class="nav__info">
        {# TODO: Add user details here #}
    </div>
    <ul>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_dashboard"></use>
                </svg> Dashboard
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_templates"></use>
                </svg> Templates
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_pages"></use>
                </svg> Pages
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_analytics"></use>
                </svg> Analytics
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_users"></use>
                </svg> Users
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_settings"></use>
                </svg> Settings
            </a>
        </li>
    </ul>
</nav>
