<div class="pagination">
    <ul>
        <li class="pagination__link pagination__link--prev pagination__link--disabled">
            <a href="#">&lt;</a>
        </li>
        <li class="pagination__link pagination__link--current">
            <span>1</span>
        </li>
        <li class="pagination__link">
            <span>2</span>
        </li>
        <li class="pagination__link pagination__link--dots">
            <span>&hellip;</span>
        </li>
        <li class="pagination__link">
            <span>10</span>
        </li>
        <li class="pagination__link pagination__link--prev">
            <a href="#">&gt;</a>
        </li>
    </ul>
</div>
