<div class="toolbar">
    <div class="toolbar__new">
        <a href="button button--primary">New</a>
    </div>
    <div class="toolbar__search">
        <form action="{{ route('users.index') }}">
            <input type="search">
            <input type="submit">
        </form>
    </div>
</div>
