////
/// Site-wide colour variables
/// @group settings
/// @author Kristian Cox
////

$color-primary:   #8F4DAE;
$color-secondary: #346BB2;
$color-tertiary:  #C4CC36;

$color-light:     #FDF4D6;
$color-dark:      #283a47;

$color-default:   #FFFFFF;
$color-success:   #C4CC36;
$color-info:      #4893DB;
$color-warning:   #FFA726;
$color-danger:    #EF5350;
