<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Access Denied | {{ config_get('app.name') }}</title>
        <link rel="stylesheet" href="{{ elixir('/gnosis/css/style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            {# TODO: Add 403 page #}
        </div>
        {% include 'gnosis/partials/_critical-js.twig' %}
    </body>
</html>
