////
/// Styling for specific HTML form elements
/// @group components
/// @author Kristian Cox
////

.form {
    .form__controls {
        @extend %clearfix;

        > button,
        > input {
            float:       right;
            margin-left: 1rem;
        }
    }

    hr {
        margin:  0 -1rem 1rem -1rem;
        border-bottom: 2px solid darken($color-light, 10%);
    }

    &__field {
        &--error {
            input[type=text],
            input[type=password],
            input[type=url],
            input[type=email],
            input[type=tel],
            input[type=search],
            input[type=number],
            textarea,
            select {
                border-left: 0.25rem solid $color-danger;
            }
        }
    }
}
