////
/// Styling for the toolbar component
/// @group components
/// @author Kristian Cox
////

.toolbar {
    @extend %clearfix;
    // background:    #FFFFFF;
    margin-bottom: 1rem;
    // box-shadow:    $global-box-shadow;

    &__new {
        float: left;
    }

    &__search {
        float: right;
    }
}
